@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.head
	width:100%
	z-index 1010
	background: white
.head--up
	z-index 1250!important

.head-top-wrap
	overflow hidden
//.main-cont
.head-top
	+below(1024px)
		position: relative
	flex(between)
.head__logo
	+below(1200px)
		width: 140px
	+below(480px)
		width: 100px
	width: 195px
	margin-right: 3%
.head__loc
	+below(1024px)
		display: none
	width: 23%

.head__loc-town
	f()
	color $brown--dark
	font-size 20px
	font-weight 500
.head__loc-town-el
	display: inline-block
	margin-left: 5px
	color $green
	margin-bottom: 10px
	cp()
.head__loc-text
	+below(1200px)
		font-size: 12px
	color #37200d99

.head__cont
	+below(1024px)
		display: none
	width: 20%
.head__cont-phone
	color $brown--dark
	font-size 20px
	font-weight 500
	margin-bottom: 10px
	display: inline-block
.head__cont-text
	+below(1200px)
		font-size: 12px
	color #37200d99
.head__enter
	flex(mid)
	tr(all)
	color $brown--dark
	@extend .type--md
	font-weight 500
	margin-left: auto
	padding: 30px 25px
	border-left 1px solid $gray
	border-right 1px solid $gray
	cp()
	&:hover
		color white
		background: $green
		border-color $green
		.icon
			fill white
.head__enter-ico
	margin-right: 15px
	.icon
		tr(all)
		size 26px
		fill $green
//.icon
//.head__enter-text
.head__auth
	+below(1200px)
		padding: 30px 20px
	+below(1024px)
		display: none
	flex(mid)
	tr(all)
	color $brown--dark
	@extend .type--md
	font-weight 500
	margin-left: auto
	padding: 30px 25px
	border-left 1px solid $gray
	border-right 1px solid $gray
	cp()
	&:hover
		color white
		background: $green
		border-color $green
		.icon
			fill white
//.hidden
.head__auth-ico
	margin-right: 10px
	.icon
		tr(all)
		size 26px
		fill $green
.head__auth-text
	margin-right: 10px
.head__auth-val
	display: block
	opacity .6
.head__basket
	+below(1200px)
		padding: 30px 20px
	+below(1024px)
		size 50px
		padding: 0
		position: relative
		margin-right: -11px
	flex(mid)
	cp()
	padding: 30px 25px
	border-left 1px solid $gray
	border-right 1px solid $gray
	margin-left: -1px
	color $brown--dark
	tr(all)
	&:hover
		color white
		background: $green
		border-color $green
		.icon
			fill white
.head__basket__icon
	.icon
		+below(1024px)
			margin-right: 0
		size 26px
		fill $green
		tr(all)
.head__basket__text
	+below(1024px)
		display: none
	@extend .type--md
	margin-left: 15px
	font-weight 500
.head__basket__val
	opacity:.6

.head__basket__val--mobile
	position: absolute
	background: $green
	size 18px
	round()
	flex(mid)
	font-size: 12px
	color white
	border 1px solid white
	right: 5px
	top 5px
	+above(1025px)
		display: none

.head-menu-wrap
	+below(640px)
		white-space: nowrap
		overflow-x: auto
		-webkit-overflow-scrolling: touch
		-ms-overflow-style: -ms-autohiding-scrollbar
		::-webkit-scrollbar
			width: 0
			background: transparent
			display: none
		&:before
			display: none
			content ''
			position: absolute
			right: 0
			top: 51px
			height: 48px
			width 110px
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, #ffffff 100%);
			z-index 10
	border-top 1px solid $gray
	border-bottom 1px solid $gray
.head-menu
	flex(between)
.head-list
	+below(1024px)
		width: 100%
	flex(between)
	width: 63.5%
.head-list__el
	+below(1024px)
		height: 50px
		flex(mid)
	tr(all)
	padding: 20px 10px
	color $brown--dark
	@extend .type--md
	font-weight 500
	&:hover
		color $green
//.head-list__el--active
.head-sub-list
	+below(1024px)
		display: none
	flex(between)
	width: 35%
	f()
.head-sub-list-el
	tr(all)
	padding: 20px 10px
	color $brown--dark
	@extend .type--md
	font-weight 500
	opacity: .6
	&:hover
		opacity: 1
		color $green

.page
	f()
	fl()
	min-height 100vh
.content
	flex-grow 1
	flex-shrink 1
	position: relative
.content--lk
	+below(1024px)
		margin-bottom: -30px
	margin-bottom: -100px
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.head-top__list
	display: none
	width: 55%
.head-top__list-el
	tr(all)
	color $brown--dark
	@extend .type--md
	font-weight 500
	&:hover
		color $green

.shrink
	.head-top__list
		flex(between)
		+below(1024px)
			flex(between)
			position: absolute
			top 51px
			width: calc(100% + 20px)
			margin-left: -10px
			padding: 15px 10px
			background: white
			height: 50px
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
		+below(640px)
			@extend .head-menu-wrap
			width auto
		display: none
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out
	//border-bottom 1px solid $gray
	z-index 1010
	.head-menu-wrap
		//display: none
	.head__auth
		display: none
	.head__loc
		display: none
	.head__cont
		display: none
	.head__basket
		padding: 10px 20px
	.head__logo
		width: 140px
	.head-top__list-el
		padding: 10px
.footer
	+below(480px)
		margin-top: 30px
	margin-top: 100px
.footer-top-wrap
	bgi('pattern.jpg')
	background-repeat: repeat
.footer-top
	+below(1024px)
		display: none
	flex(between)
//.footer-top__col
.footer-top__title
	color $brown--dark
	@extend .type--xl
	margin-bottom: 10px
.footer-top__text
	opacity .7
.footer-deliver
	+below(1024px)
		margin-right: -10px
	flex(mid)
	padding: 40px 45px
	bg-full()
	tr(all)
	background-size 100% 100%
	&:hover
		background-size:120% 120%
.footer-deliver__text
	@extend .type--xl
	color white
	up()
	margin-right: 20px
.footer-deliver__ico
	.icon
		size 50px
		fill white
.footer-main-wrap
	background: #5e4c41
.footer-main
	+below(640px)
		padding: 30px 0
		fw()
	f()
	justify-content: space-between
	padding: 50px 0
	color white
.footer-info
	+below(768px)
		width: 48%
	+below(480px)
		width: 100%
	width: 26%
.footer-title
	+below(480px)
		text-align: center
	font-size 20px
	font-weight 500
	margin-bottom: 20px
.footer-politick
	+below(480px)
		text-align: center
		margin-bottom: 20px
	opacity .6
	line-height: 1.6
	margin-bottom: 55px
	display: block
	color white
	tr(all)
.footer-pay
	+below(480px)
		flex(mid)
		margin-bottom: 20px
	f()
	align-items: center
.footer-pay__icon
	.icon
		size 28px
		fill white
		margin-right: 15px
//.footer-pay__text
.footer-list
	+below(1024px)
		display: none
	width: 21%
.footer-list__el
	tr(all)
	margin-bottom: 20px
	opacity:.6
	display: block
	color white
	&:hover
		opacity:1

.footer-cont
	+below(768px)
		border-left 0
		width: 48%
	+below(480px)
		width: 100%
		flex(mid)
		fl()
	width: 30.5%
	margin-left: auto
	border-left 1px solid rgba(255, 255, 255, 0.16)
	f()
	fl()
	align-items: flex-end
.footer-phone
	+below(480px)
		width: 100%
		text-align: center
	font-size: 20px
	color white
	margin-bottom: 15px
	display: inline-block
	width: 210px
	text-align: left
	tr(all)
	&:hover
		color darken(white,20)
.footer-mail
	+below(480px)
		width: 100%
		text-align: center
	display: block
	color white
	margin-bottom: 55px
	width: 210px
	text-align: left
	tr(all)
	&:hover
		color darken(white,20)
.soc-row
	f()
.soc-el
	.icon
		size 32px
		margin-right: 10px
		fill white
		tr(all)
		&:hover
			fill darken(white,30)

//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1200
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #ad9480e6
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translate(-50%,-350%)
	position: absolute
	top 50%
	left 50%
	opacity .1
	transition transform .8s, opacity 1s
	max-width 550px

.modal-content
	+below(768px)
		padding: 20px
		width: 80%
	+below(640px)
		max-height calc(100vh - 60px)
		overflow-y scroll
		padding: 20px 15px
		width: 95%!important
		min-width auto
	//background: #2b8850
	background: white
	position: relative
	padding: 40px
	width 390px




.modal-content--register
	width: 500px
	input
		width: 100%
		margin-bottom: 20px

.modal__show
	+below(768px)
		flex(mid)
	opacity 1
	transform translate(-50%,-50%)

.modal-close
	+below(768px)
		top 15px
		right 15px
	position: absolute
	top: 20px
	right: 20px
	cp()
	.icon
		+below(768px)
			size 15px
		size 20px
		fill #cbbaac
		tr(all)
		&:hover
			fill $brown

.modal-open
	overflow: hidden
	overflow-x: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: relative
	height: 100%

.modal-title
	+below(768px)
		font-size: 20px
	@extend .type--xxl
	color $brown
	margin-bottom: 20px
	text-align: center

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 40px auto
	//width: 80%
	font-size: 16px
	line-height: 1.6
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px

.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%
	font-weight: 600

.agree-row
	f()
	align-items: center
	margin:10px 0 20px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none
.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d

.modal-content--true
	flex(mid)
	fl()
	br(10px)
	.icon
		fill green
		size 120px
		margin-bottom: 20px
.modal-text-true
	text-align: center
	font-weight: bold
//modal===end

.modal-soc-enter-text
	margin-top: 20px
	margin-bottom: 20px
	opacity .6
	text-align: center

.soc-row--midle
	flex(mid)

.input-phone
	position: relative
	input
		padding-left: 40px
	&:before
		content '+7'
		position: absolute
		left 20px
		top 17px
.row--mid
	flex(mid)
.modal-code-link
	text-align: center
	@extend .link--mark
	margin: 20px auto 40px auto
	position: relative
	display: block
	tr(all)
	&:hover
		&:before
			content ''
			opacity 0
	&:before
		content ''
		position: absolute
		top calc(100% + 4px)
		height: 1px
		background: #3dad4b
		width: 100%
		opacity: 1
		tr(all)

.slider
	+below(1024px)
		display: none
.slider__el
	width: 100%
	bg-full()
	height: 450px

.advant
	+below(1024px)
		display: none
	flex(between)
	padding: 30px 45px
	border-bottom 1px solid $gray
	margin-bottom: 35px
.advant__el
	f()
	align-items: center
.advant__el-icon
	margin-right: 25px
	.icon
		size 50px
	.icon-one
		size 80px
//.advant__el-text

.section
	+below(1024px)
		margin: 50px 0
	+below(480px)
		max-width 360px
		margin-left: auto
		margin-right: auto
	margin-bottom: 80px
.section--mobile
	+below(1024px)
		margin-top: 0
.section-title
	+below(1024px)
		margin: 30px 0
	@extend .type--extra
	color $brown
	up()
	margin: 45px 0

.grid
	+below(1024px)
		grid-template-columns repeat(3,1fr);
	+below(768px)
		grid-template-columns repeat(2,1fr);
	+below(480px)
		grid-template-columns 1fr
		grid-column-gap 10px
		grid-row-gap 30px
	display: grid
	grid-gap 30px
	grid-template-columns repeat(4,1fr);

.grid--three
	+below(768px)
		grid-template-columns repeat(2,1fr);
	+below(480px)
		grid-template-columns 1fr;
	grid-template-columns repeat(3,1fr);
.grid--six
	+below(1024px)
		grid-template-columns repeat(auto-fit, minmax(120px, 1fr));
	+below(480px)
		grid-template-columns repeat(2,1fr);
	grid-template-columns repeat(6,1fr);
.grid--four
	+below(1024px)
		grid-template-columns repeat(auto-fit, minmax(120px, 1fr));
	+below(480px)
		grid-template-columns repeat(2,1fr);
	grid-template-columns repeat(4,1fr);

.grid__el
	align-content stretch

.pizza
	+below(480px)
		flex-flow row
		justify-content:space-between
	f()
	fl()
	height: 100%
.pizza__img-wrap
	+below(480px)
		width: 35%
		margin-right: 10px
.pizza__img
	bg-full()
	background-size: contain
	padding: 55% 10%
	margin-bottom: 15px
.pizza__title
	@extend .type--xl
	color $brown--dark
	margin-bottom: 15px
.pizza__text
	line-height: 1.6
	opacity 0.7
	color $brown--dark
	margin-bottom: 25px
.pizza__size
	f()
	border 1px solid #cbbaac
	margin-bottom: 10px
	margin-top:auto

.pizza__size-el
	width: 100%
	text-align: center
	padding: 10px
	//margin-right: -1px
	cp()
	tr(all)
	border-right 1px solid #cbbaac
	&:hover
		background-color $gray--light
	&:last-child
		margin-right: -1px

.pizza__size-el--active
	background: $gray

.pizza__dough
	f()
	border 1px solid #cbbaac
	margin-bottom: 20px
.pizza__dough-el
	width: 100%
	text-align: center
	padding: 10px
	border-left 1px solid #cbbaac
	margin-left: -1px
	cp()
	tr(all)
	&:hover
		background-color $gray
.pizza__dough-el--active
	background-color $gray

.pizza__footer
	f()
	flex(between)
	+below(480px)
		.elements-icr-block
			flex(mid)
.pizza__price
	+below(480px)
		display: none
	@extend .type--xl
	color $brown--dark
.pizza__get
	+below(480px)
		width: 100%
	@extend .btn--sm
	width: 50%
	padding: 10px
	@extend .btn--light
	@extend .type--md
	font-weight 500
	height: 40px
.grid__el--lg
	+below(480px)
		grid-column span 1
		display: none
	grid-column span 2
	align-content stretch

.incr__get-wrap
	+below(480px)
		flex(mid)
		width: 100%
.pizza-lg
	f()
	fl()
	height: 100%
	.pizza__dough
		margin-bottom: 0
	.pizza__size-el--active
		background: #cbbaac
	.pizza__size-el
		&:hover
			background: #cbbaac
	.pizza__dough-el
		&:hover
			background: #cbbaac
	.pizza__dough-el--active
		background: #cbbaac
.pizza-lg__img
	bg-full()
	padding: 30% 10%
.pizza-lg-cont
	+below(480px)
		padding: 40px 20px
	position: relative
	bgi('pattern.jpg')
	background-repeat: repeat
	padding: 40px 30px
	f()
	fl()
	flex-grow 1
.pizza-lg__timer
	position: absolute
	background: $green
	color white
	top -24px
	left 0
.pizza-lg__title
	@extend .type--xxl
	f()
	align-items: flex-start
	margin-bottom: 20px
	a
		color $brown

.pizza-lg__timer-val
	padding: 15px 45px 15px 30px
	position: relative
	width: 100%
	height: 45px
	&:before
		content ''
		position: absolute
		right -11px
		top 0
		width: 18px
		height: 45.5px
		background-image: url(../img/coner.svg)
		background-size: contain
		background-position: top center
		background-repeat: no-repeat
.pizza-lg__title-icon
	margin-left: 10px
	.icon
		size 20px
		fill $brown
.pizza-lg__info
	margin-top: auto
	justify-content: space-between
	f()
.pizza-lg__toggle
	width: 60%
	overflow hidden
//.pizza__size
//.pizza__size-el
//.pizza__size-el--active
//.pizza__dough
//.pizza__dough-el
//.pizza__dough-el--active
//.pizza-lg__val
.pizza-lg__price
	f()
	margin-bottom: 20px
	align-items: center
.pizza-lg__price-false
	color $brown
	margin-right: 10px
	text-decoration: line-through
.pizza-lg__price-true
	color $brown
	@extend .type--xl
.pizza-lg__get
	@extend .btn--sm
	@extend .btn--mark

.pizza__wrap
	+below(480px)
		width: 70%
	f()
	fl()
	flex-grow 1


.item
	+below(480px)
		flex-flow row
	f()
	fl()
	height: 100%
.item__img-wrap
	+below(480px)
		width: 35%
		margin-right: 10px
.item__img
	bg-full()
	padding: 45% 10%
	margin-bottom: 15px
.item__title
	@extend .type--xl
	color $brown--dark
	margin-bottom: 15px
.item__text
	+below(480px)
		margin-bottom: 15px
	line-height: 1.6
	opacity 0.7
	color $brown--dark
	margin-bottom: 25px
.item__wrap
	+below(480px)
		width: 75%
	flex-grow 1
	f()
	fl()
.item__footer
	+below(640px)
		flex(mid)
	f()
	flex(between)
	margin-top: auto
	
.item__price
	+below(480px)
		width: 100%
		display: none
	@extend .type--xl
	color $brown--dark
.item__get
	+below(480px)
		width: 100%
	@extend .btn--sm
	padding: 10px
	@extend .btn--light
	@extend .type--md
	font-weight 500
	height: 40px
	flex(mid)

//
.item-lg
	f()
	fl()
	height: 100%
.item-lg__img
	bg-full()
	padding: 25% 10%
.item-lg-cont
	f()
	justify-content: space-between
	position: relative
	bgi('pattern.jpg')
	background-repeat: repeat
	padding: 40px 30px
	flex-grow 1

.item-lg__timer
	position: absolute
	background: $green
	color white
	top -24px
	left 0
	height: 48px
.item-lg__title
	@extend .type--xxl
	f()
	align-items: center
	margin-bottom: 10px
	a
		color $brown
.item-lg__timer-val
	padding: 15px 45px 15px 30px
	position: relative
	width: 100%
	&:before
		content ''
		position: absolute
		right -12px
		top 0
		width: 12px
		height: 100%
		//bgi('round-border.png')
.item-lg__title-icon
	margin-left: 10px
	.icon
		size 20px
		fill $brown
.item-lg__info
	margin-top: auto
	justify-content: space-between
	f()
	width: 30%
.item-lg__toggle
	width: 60%
.item-lg__val
	margin-top: 10px
.item-lg__price
	f()
	margin-bottom: 20px
	align-items: center
.item-lg__price-false
	color $brown
	margin-right: 10px
	text-decoration: line-through
.item-lg__price-true
	color $brown
	@extend .type--xl
.item-lg__get
	@extend .btn--sm
	@extend .btn--mark

.item-lg-wrap
	width: 70%

.item-lg__text
	line-height: 1.6

.incr

	f()
	justify-content: space-between
	position relative
	width 120px
.incr__nav
	flex(mid)
	tr(background )
	size 40px
	border 1px solid $green
	color $green
	font-family Roboto
	@extend .type--lg
	&:hover
		cp()
		background-color $green
		border 0
		color white
	&:active
		background-color red
.incr__val
	flex(mid)
	position relative
	tr(all)
	font-family Roboto
	@extend .type--lg
	font-weight 700
	size 40px
//

.tooltip
	display:inline-block;
	position:relative;
	text-align:left;
	cp()


.tooltip .top
	min-width:240px
	top:0px
	left:50%
	transform:translate(-50%, -100%)
	padding:10px 20px
	background-color:#EEEEEE
	position:absolute
	z-index:99999999
	box-sizing:border-box
	box-shadow 0 10px 15px rgba(0, 0, 0, 0.09)
	visibility:hidden
	opacity:0
	transition:opacity 0.8s
	color $brown--dark
	@extend .type--main
	font-weight 400
	font-family:Roboto
	line-height: 1.6
.tooltip:hover .top
	visibility:visible
	opacity:1

.tooltip--dark
	.top
		background-color:$brown--dark
		color white
		i
			&:after
				background-color:$brown--dark!important
.tooltip .top i
	position:absolute
	top:100%
	left:50%
	margin-left:-12px
	width:24px
	height:12px
	overflow:hidden

.tooltip .top i::after
	content:''
	position:absolute
	width:12px
	height:12px
	left:50%
	transform:translate(-50%,-50%) rotate(45deg)
	background-color:#EEEEEE
	box-shadow:0 10px 15px rgba(0, 0, 0, 0.09)

.icr-btn
	height: 40px
	flex(mid)
.review-slider-wrap
	padding: 50px 0
	bgi('pattern.jpg')
	background-repeat: repeat
	margin-bottom: 80px
.review-slider__title
	flex(mid)
	margin-bottom: 30px
	span
		color $brown
		@extend .type--xxl
		position: relative
		text-align: center
		.icon
			position: absolute
			right: -35px
			top -15px
			size 32px
			fill green
//.review-slider
//.review-slider__el
.review-slider__content
	max-width 600px
	margin-left: auto
	margin-right: auto
	flex(mid)
	fl()
.review-slider__el-text
	text-align: center
	@extend .type--main
	font-style italic
	line-height: 1.6
	margin-bottom: 20px
.review-slider__el-author
	color $brown--dark
	opacity .7
	text-align: center
	margin-bottom: 20px

.slick-dots li button:before
	font-size: 10px

.card
	flex(mid)
	fl()
	height: 100%
.card__img-wrap
	width: 100%
	margin-bottom: 25px
.card__img
	bg-full()
	background-size: contain
	padding: 55% 10%
	width: 100%
.card__text
	text-align: center
	line-height: 1.6
	margin-bottom: 20px
.card__val
	color $brown--dark
	@extend .type--xl
	margin: auto 0 20px 0
.card__get
	+below(480px)
		width: 100%
	@extend .btn--sm
	padding: 10px
	@extend .btn--light
	@extend .type--md
	font-weight 500
	height: 40px

.form-quest
	+below(640px)
		display: none
	max-width 600px
	margin-left: auto
	margin-right: auto
	textarea
		width: 100%
.form-quest__title
	+below(640px)
		display: none
	color $brown
	@extend .type--xxl
	margin-bottom: 40px
	text-align: center
.input-row-half
	+below(640px)
		fw()
	f()
	justify-content: space-between
	input
		+below(640px)
			width: 100%
			margin-bottom: 20px
		width: 49%
//.input
.form-quest__footer
	+below(640px)
		fw()
		flex(mid)
		fl()
	margin-top: 20px
	flex(between)
.form-quest__text
	+below(640px)
		width: 100%
		margin-bottom: 20px
		text-align: center
	width: 50%
	line-height: 1.6
	opacity 0.7
	color #000000
	@extend .type--sm
.form-quest__get
	@extend .btn--sm
	@extend .btn--mark

.head-toggle
	margin-left: auto
	size 50px
	flex(mid)
	cp()
	+above(1025px)
		display: none
	.icon
		size 25px
		fill $brown
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(480px)
		width: 100%
	background: $green
	color white
	position: fixed
	height: calc(100% - 100px)
	z-index 1250
	top 102px
	right 0
	padding: 25px
	width: 320px
	transform translateX(100%)
	tr(all)
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list
	margin-bottom: 40px
.slide-menu__list-el
	@extend .type--lg
	text-align: center
	display: block
	margin-bottom: 20px
	color white
.slide-menu-btn
	flex(mid)
	@extend .type--lg
	color white
	width: 100%
	padding: 15px
	border 1px solid white
	height: 55px
	margin-bottom: 20px
	tr(all)
	&:hover
		opacity .6
		color white
.slide-menu-btn__icon
	margin-right: 15px
	.icon
		size 26px
		fill white
//.slide-menu-btn__text
.slide-menu__phone
	@extend .type--xl
	text-align: center
	display: block
	color white
	margin-bottom: 20px
.slide-menu__time
	opacity 0.6
	margin-bottom: 20px
	text-align: center
.slide-menu__work
	opacity 0.6
	text-align: center

.desctop-get
	+below(480px)
		display: none
.mobile-price
	+above(481px)
		display: none

.favorite
	+below(1024px)
		display: none
	display: grid
	grid-gap 30px
	grid-template-columns repeat(4,1fr);
	margin-bottom: 40px
.favorite__el
	padding: 15px
//.favorite__el--text
.favorite__title
	@extend .type--xl
	color $brown--dark
	margin-bottom: 10px
.favorite__link
	@extend .link--mark
	position: relative
	&:before
		content ''
		tr(all)
		position: absolute
		top 100%
		height: 1px
		width: 100%
		background: $green
		opacity 1
	&:hover
		&:before
			content ''
			opacity 0
.favorite__el-img-wrap
	margin-right: 15px
.favorite__el--item
	f()
	tr(all)
	border 1px solid $gray
	position: relative
	box-shadow 0 0 0 rgba(0, 0, 0, 0.11)
	overflow hidden
	&:hover
		box-shadow 0 10px 15px rgba(0, 0, 0, 0.11)
		.favorite__el-get
			transform translateX(0%)
			opacity:1

.favorite__el-img
	size 70px
	bg-full()
.favorite__el-cont
	margin-top: 10px
.favorite__el-title
	opacity 0.7
	margin-bottom: 10px
.favorite__el-price
	@extend .type--lg
	font-weight 700

.favorite__el-get
	transition transform .6s
	flex(mid)
	opacity:0
	transform translateX(-100%)
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background: rgba(255, 255, 255, 0.8);
	z-index 2
.favorite__el-btn
	@extend .btn--sm
	@extend .btn--mark

.card-item
	position: relative
	margin-bottom: 80px
	border-bottom 1px solid $gray--light
	+below(640px)
		margin-bottom: 20px
//.card__bg

.card__bg-left
	width: 50%
	height: 100%
	position: absolute
	top 0
	left 0
.card__bg-right
	+below(640px)
		display: none
	width: 50%
	height: 100%
	position: absolute
	top 0
	right 0
	bgi('pattern.jpg')
	background-repeat: repeat
//.main-cont
.card-wrap
	+below(640px)
		fw()

	f()
.card__el
	+below(640px)
		max-width 480px
		margin-left: auto
		margin-right: auto
		width: 100%
		padding: 20px 0
	width: 50%
	padding: 60px 0
.card__el__img

	bg-full()
	background-size: contain
	padding: 42% 10%
	max-width 500px
	max-height 500px
.card__info
	+below(1024px)
		padding: 30px
	+below(640px)
		bgi('pattern.jpg')
		background-repeat: repeat
		margin-left: -10px
		margin-right: -10px
		padding: 30px 10px
		width calc(100% + 20px)
	width: 50%
	padding: 30px 30px 30px 10%
	.pizza-lg__toggle
		+below(768px)
			margin-bottom: 20px
		margin-bottom: 40px

.card__info-cont
	+below(640px)
		max-width 480px
		margin-left: auto
		margin-right: auto
.bread
	+below(640px)
		margin-bottom: 20px 0
		display: none
	f()
	fw()
	//margin-bottom: 45px
	margin: 20px 0 10px 0
.bread__el
	margin-right: 15px
	margin-bottom: 10px
	position: relative
	@extend .type--sm
	opacity .3
	&:after
		content '-'
		position: absolute
		right: -10px
		top 1px
	&:last-child
		&:after
			content ''
			display: none
//.card__info-wrap
.card__info-title
	+below(640px)
		margin-bottom: 20px
	color $brown
	@extend .type--extra
	font-weight 900
	up()
	margin-bottom: 30px
	word-break break-word
.card__info-text
	+below(640px)
		margin-bottom: 20px
	opacity 0.7
	color $brown--dark
	margin-bottom: 40px
	line-height: 1.6
//.pizza-lg__toggle

.pizza-lg__toggle--lg
	width: 100%

.pizza-lg__val--row
	+below(640px)
		margin-left: auto
		.incr__get-wrap
			width: auto !important
	flex(between)
	.pizza-lg__price
		margin-bottom: 0

.pizza-lg__price--lg
	color $brown
	@extend .type--xxl

.pizza-lg__toggle--light
	.pizza__size-el--active,.pizza__dough-el--active
		background: white

.basket-head
	+below(768px)
		padding: 20px 0
	+below(640px)
		margin-bottom: 30px
	padding: 45px 0
	bgi('pattern.jpg')
	background-repeat: repeat
	margin-bottom: 55px
	overflow hidden
//.main-cont
.basket-head__wrap
	+below(768px)
		fw()
		flex(mid)
		padding-right: 0px
	+below(640px)
		width: 85%
		margin-left: auto
		margin-right: auto
	padding-right: 20px
	flex(between)
.basket-head__title
	+below(1024px)
		font-size: 38px
	+below(768px)
		width: 100%
		text-align: center
		margin-bottom: 20px
	color $brown
	@extend .type--extra
	font-weight 900
	up()
.basket-toggle
	+below(768px)
		width: 100%
		max-width 300px
	flex(between)
	width: 40%
	position: relative
.basket-toggle__el
	flex(mid)
	fl()
	position: relative
	pointer-events none
	&:before
		content ''
		position: absolute
		top 0
		left 0
		height: 100%
		width: 100%
		z-index 2
		opacity .6
		background: white

.basket-toggle__el-icon
	display: none
//.icon
.basket-toggle__el-val
	color $brown--dark
	@extend .type--md
	font-weight 500
	size 36px
	flex(mid)
	border 1px solid $brown
.basket-toggle__el-text
	+below(768px)
		display: none
	color $brown--dark
	@extend .type--md
	font-weight 500
	position: absolute
	width: 150px
	text-align: center
	bottom -30px
	opacity .4
.bakset-line
	height: 1px
	background: $brown
	opacity .4
	flex-grow 1
.basket-toggle__el--active
	pointer-events initial
	.basket-toggle__el-text
		opacity 1

	&:before
		content ''
		opacity 1!important
		background: none

.basket-toggle__check
	background: $green
	.basket-toggle__el-val
		border 0
	span
		display: none
	.basket-toggle__el-icon
		display: block
		.icon
			size 16px
			fill white
			margin-top: 4px

.basket-wrap
	+below(1024px)
		fw()
	f()
	justify-content: space-between
.basket-cont
	+below(1024px)
		width: calc(100% - 340px)
	width: calc(100% - 380px)
	+below(768px)
		width: 100%
.basket-empty
	+below(1024px)
		margin: 0px 0 50px 0
		padding: 0
	flex(mid)
	fl()
	padding-top: 65px
.basket-icon
	margin-bottom: 30px
	.icon
		size 80px
.basket-title
	color $brown
	@extend .type--xxl
	font-weight 700
	text-align: center
	margin-bottom: 20px
.basket-text
	text-align: center
.panel
	+below(768px)
		flex(mid)
		width: 100%
	+below(768px)
		display: none
.panel--show
	display: flex!important
.panel-wrap
	+below(480px)
		width: 100%
	width: 320px
	box-shadow 0 10px 20px rgba(0, 0, 0, 0.1)
	background-color #ffffff
	padding: 20px 25px 45px 25px
.panel-head
	@extend .type--xl
	font-weight 700
	padding-bottom: 10px
	border-bottom 1px solid #f1eeeb
	margin-bottom: 35px
	f()
	align-items: center
.panel-head__numb
	margin-left: auto
	@extend .type--main
.panel-total
	//border-top 1px solid #f1eeeb
	padding-top: 10px
	flex(between)
	margin-bottom: 20px
.panel-text
	@extend .type--lg
	font-weight 700
.panel-val
	color $green
	@extend .type--xxl
	font-weight 700
//.panel-footer
.panel-get
	@extend .btn--md
	@extend .btn--mark
	width: 100%
	margin-bottom: 15px
.panel-back
	@extend .btn--md
	width: 100%
	padding: 20px

.basket-list
	+below(1024px)
		width: 100%
	+below(640px)
		margin-bottom: 30px
	margin-bottom: 50px
.basket-list__el
	+below(640px)
		fw()
		position: relative
	padding: 20px
	margin-bottom: -1px
	border 1px solid $gray
	flex(between)
.basket-list__info
	+below(640px)
		width: calc(100% - 55px)
		margin-bottom: 20px
		order 1
	width: 50%
	padding-right: 10px
.basket-list__title
	@extend .type--lg
	font-weight 700
	margin-bottom: 5px
.basket-list__text
	opacity 0.5
.basket-list__incr
	+below(640px)
		order 3
	width: 120px
.basket-list__price
	+below(640px)
		order 2
		margin-left: initial
	@extend .type--xl
	font-weight 700
	margin-left: auto
	margin-right: 20px
.basket-list__remove
	+below(640px)
		position: absolute
		right: 20px
		top: 20px
	size 24px
	border 1px solid #cbbaac
	br(3px)
	flex(mid)
	cp()
	tr(all)
	&:hover
		background: #cbbaac
		.icon
			fill white
	.icon
		size 8px
		fill #cbbaac

.section-title--add
	display: inline-block
	margin-left: 20px
	color $green
	@extend .type--lg
	text-transform: none
	letter-spacing initial

.basket-section
	+below(640px)
		margin-bottom: 30px
	margin-bottom: 50px
	.section-title
		text-transform: none
		margin-bottom: 25px
		@extend .type--xxl

.panel-list
	+below(480px)
		grid-template-columns repeat(auto-fit, minmax(35px, 35px));
	margin-top: -10px
	display: grid
	grid-gap 15px
	grid-template-columns repeat(auto-fit, minmax(40px, 40px));
	padding-bottom: 20px
	margin-bottom: 15px
	border-bottom 1px solid #f1eeeb
.panel-list__el
	+below(480px)
		size 35px
	size 40px
	round()
	bg-full()
	border 1px solid #cbbaac
	position: relative
.panel-list__el-val
	position: absolute
	right: -8px
	top -2px
	size 24px
	background: $green
	color white
	round()
	flex(mid)
	@extend .type--sm

.panel-list__el--last
	border 1px solid darken($green,10)
	.panel-list__el-val
		width: 100%
		height: 100%
		left 0
		top 0
		opacity .8
		font-size: 14px

.order
	+below(1024px)
		width: 100%
	+below(768px)
		margin-bottom: 30px
	+below(640px)
		width: 100%
	width: 70%
.input-row
	.input,textarea
		width: 100%
	width: 100%
	margin-bottom: 15px
.input-row--person
	+below(640px)
		margin-bottom: 20px
		fw()
	flex(between)
	margin-bottom: 50px
	.input-row--name
		+below(640px)
			width: 100%
		width: 60%
	.input-row--phone
		+below(640px)
			width: 100%
		width: 37%
.order-tab
	f()
	border 1px solid $green
	margin-bottom: 30px
.order-tab__el
	padding: 15px 20px
	width: 50%
	text-align: center
	color $green
	cp()
.order-tab__el--active
	background: $green
	color white
//.order-cont
.order-cont__el
	margin-bottom: 50px
.input-row--adress
	+below(640px)
		fw()
	flex(between)
	.input
		+below(640px)
			width: 48%
		width: 23%
.order-time
	+below(480px)
		fl()
		flex(mid)
	f()
	align-items: center
.order-time__title
	+below(480px)
		width: 100%
		text-align: center
		margin-bottom: 20px
	@extend .type--lg
	margin-right: 20px
.radio-list
	.check-el
		margin-bottom: 20px

//.order-time__select
.payment
	margin-bottom: 50px
.order-title
	@extend .type--xxl
	margin-bottom: 20px
//.payment__type-tab
.payment__type__el
	margin-bottom: 20px
//.payment__type-cont
//.payment__type-cont-el
//.payment-card
.payment-card__el
	+below(380px)
		width: 100%
	flex(between)
	@extend .btn--md
	@extend .btn--light
	padding: 20px
	margin-bottom: 20px
	width 320px
	&:hover
		.icon
			fill white
	.icon
		width 45px
		height: 15px
		margin-right: 20px
		fill $green
		margin-bottom: -2px
//.payment-card__el-icon
//.icon
//.payment-card__el-val
.payment-card__other
	+below(380px)
		width: 100%
	@extend .btn--md
	@extend .btn--light
	padding: 20px
	margin-bottom: 20px
	width 320px
.payment-card__el--active
	background: $green
	color white
	.icon
		fill white
//.range

.nice-select
	br(0)
	display: block
	color #000000
	font-size 14px
	height: auto
	line-height:auto
	min-width 220px
	.list
		width: calc(100% )
		left 0px
		br(0)
		border 0px solid $border-color
		border-top 0
		margin-top: 0

select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.range-wrap
	margin-bottom: 50px
.irs-slider
	background: $green
	round()
	border 1px solid darken($green,10)
.irs-line-left
	background: #cbbaac
.irs-line-right
	background: #cbbaac
	border-radius 0px 5px 5px 0
.irs-line-mid
	background: #cbbaac
.irs-bar-edge
	background: $green
	border-radius  5px 0 0 5px
.irs-bar
	background: $green
.irs-min, .irs-max
	display: none
.irs-from, .irs-to, .irs-single
	background: none
	color $brown--dark
	@extend .type--main
	top 45px

.panel-row
	f()
	align-items: center
	margin-bottom: 20px
.panel-row__icon
	margin-right: 20px
	margin-top: 5px
	.icon
		size 24px
		fill $brown
.panel-row__text
	line-height: 1.6

.check-el--agree
	.style-label
		align-items: flex-start
	@extend .type--sm
	line-height: 1.6
	margin-bottom: 25px

.panel-fixed
	+below(769px)
		f()

	display: none
	position: fixed
	bottom 0
	left 0
	width: 100%
	background: white
	z-index 5
	border-top 1px solid $gray--light
	.panel-total
		width: 50%
		padding: 10px 20px
		margin-bottom: 0
		border-bottom: 1px solid #f1eeeb;
	.panel-val,.panel-text
		font-size: 14px
.panel-fixed__get
	width: 50%
	padding: 20px
	@extend .btn--md
	@extend .btn--mark

.panel-fixed--true
	position: initial
	left initial
	bottom initial
	margin-bottom: -100!important
	+below(480px)
		margin-bottom: -30px

.basket-true__wrap
	f()
	align-items: center
	justify-content: center
	width: 100%
.basket-true__card
	+below(480px)
		width: 100%
		padding: 0
		border 0
	padding: 30px
	border 1px solid $gray--light
	width: 450px
.basket-true__el
	+below(480px)
		padding: 30px 20px

	box-shadow 0 10px 20px rgba(0, 0, 0, 0.07)
	background: white
	padding: 65px 60px 70px 65px
	flex(mid)
	fl()
.basket-true__icon
	margin-bottom: 35px
	.icon
		size 95px
.basket-true__title
	color $brown
	@extend .type--xxl
	text-align: center
	font-weight:700
	margin-bottom: 20px
.basket-true__text
	margin-bottom: 50px
	line-height: 1.6
	text-align: center
.basket-true__get
	@extend .btn--md
	@extend .btn--mark
	width: 100%
	padding: 20px
	margin-bottom: 20px

.basket-true__back
	@extend .btn--md
	padding: 20px
	width: 100%

.video
	width: 100%
	height: 450px
	+below(768px)
		height: 250px
	iframe
		width: 100%
		height: 100%
		border 0!important

//.panel-bar

.panel-bar__el
	height 10px
	border-radius 5px
	background-color $gray
	margin-bottom: 20px
	overflow: hidden
.panel-bar__info
	flex(mid)
.panel-bar__icon
	margin-right: 20px
	.icon
		size 30px

.panel-bar__el-progres
	height: 100%
	background: $green
	border-radius 5px

.basket-video
	margin-bottom: 40px

.sale
	+below(768px)
		grid-template-columns repeat(2,1fr);
	+below(480px)
		margin-left: -10px
		width:calc(100% + 20px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-row-gap 40px
	grid-column-gap 20px
	grid-template-columns repeat(3,1fr);
//.sale__el
.sale__el-img
	bg-full()
	padding: 20% 10%
	margin-bottom: 15px
.sale__el-title
	@extend .type--xl
	margin-bottom: 15px
.sale__el-text
	line-height: 1.6

.sale__el-content
	padding: 0 10px

.book-row__title
	display table-cell
	 white-space nowrap
.book-row__dot
	display table-cell
	border-bottom 1px solid $gray--light
	width 100%
.book-row__value
	display table-cell
	white-space nowrap

.deliver-list
	+below(768px)
		grid-template-columns repeat(1,1fr);
		margin-bottom: 20px
	display: grid
	grid-gap 20px
	grid-template-columns repeat(3,1fr);
	margin-bottom: 50px
.deliver-list__el
	padding: 25px
	br(5px)
	border 1px solid $gray
.deliver-list__el--active
	background: $green
	.deliver-list__title
		color white
.deliver-list__title
	@extend .type--xl
	color $green
	margin-bottom: 15px
.deliver-list-wrap
	fw()
	f()
	justify-content: space-between
	margin-top: 20px
.deliver-list-col
	+below(1024px)
		width: 100%
	width: 48%
.deliver-list-col__title
	+below(1024px)
		font-size: 14px
	margin-bottom: 20px
	color white
	@extend .type--lg
.deliver-list-col__text
	color white
	margin-bottom: 10px
	font-size: 12px
.deliver-list__title-sub
	margin-bottom: 20px
	@extend .type--lg
.deliver-list__title-text
	line-height: 1.6
.deliver-map
	+below(768px)
		fw()
	f()
	justify-content: space-between
	align-items:stretch

.deliver-map__item
	+below(768px)
		width: 100%
		margin-bottom: 20px
	width: 66%
.deliver-map__item-el
	+below(768px)
		height: 350px
	background: $gray--light
	height: 100%
.deliver-map__col
	+below(768px)
		width: 100%
	width: 32%

.deliver-map__col-item
	margin-bottom: 40px
	&:last-child
		margin-bottom: 0px
	padding-top: 20px
	border-top 4px solid $green
	.book-row
		margin-bottom: 15px
//.deliver-map__col-item--green
.deliver-map__text
	line-height: 1.6
	margin-top: 20px
	opacity .7
.deliver-map__col-item--orange
	border-color #ff9100
.deliver-map__col-item--red
	border-color #d20700

.review
	+below(1024px)
		grid-template-columns repeat(3,1fr);
	+below(768px)
		grid-template-columns repeat(2,1fr);
	+below(480px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-gap 30px
	grid-template-columns repeat(4,1fr);
.review__el
	padding-bottom: 20px
.review__el--active
	padding: 30px
	flex(mid)
	fl()
	bgi('pattern.jpg')
	background-repeat: repeat
.review__msg-icon
	margin-bottom: 30px
	.icon
		size 50px
.review__msg-title
	@extend .type--xl
	margin-bottom: 10px
.review__msg-text
	line-height: 1.6
	margin-bottom: 40px
	text-align: center
.review__msg-get
	@extend .btn--md
	@extend .btn--mark
	padding: 20px
.review__el-title
	@extend .type--lg
	margin-bottom: 10px
.review-heart
	f()
	margin-bottom: 20px
	padding-bottom: 20px
	border-bottom 1px solid $gray--light
	width: 100%
	.icon
		size 20px
		margin-right: 5px
		fill $green
//.icon-heart--active
//.icon-heart
.review-text
	line-height: 1.6
	margin-bottom: 20px
.review-date
	opacity .5

.contact
	+below(768px)
		fw()
		max-width 640px
		margin-left: auto
		margin-right: auto
		margin-bottom: 30px
	f()
	justify-content: space-between
	margin-bottom: 50px
.section-title--contact
	+below(768px)
		max-width 640px
		margin-left: auto
		margin-right: auto
.contact__info
	+below(768px)
		width: 100%
		order 2
	width: 30%
.contact__info-title
	f()
	align-items: center
	margin-bottom: 30px
.contact__info-icon
	margin-right: 15px
	.icon
		size 27px
		fill $green
.contact__info-text
	@extend .type--xl
.contact__row
	margin-bottom: 15px
	padding-bottom: 15px
	border-bottom 1px solid $gray--light
.contact__row__text
	margin-bottom: 10px
.contact__map
	+below(768px)
		width: 100%
		order 1
		height: 250px
		margin-bottom: 20px
		//display: none
	width: 68%
	background: $gray--light

.contact-footer
	+below(768px)
		fw()
	f()
	justify-content: space-between
.contact-phone
	+below(768px)
		width: 100%
		margin-bottom: 30px
	+below(640px)
		padding: 20px
	width: 48%
	flex(mid)
	fl()
	padding: 50px
	border 1px solid $gray
.contact-phone__icon
	margin-bottom: 15px
	.icon
		size 66px
		fill $green
.contact-phone__title
	+below(1024px)
		font-size: 28px
	+below(768px)
		font-size: 24px
	@extend .type--xxl
	margin-bottom: 20px
.contact-phone__text
	text-align: center
	line-height: 1.6
.contact-form
	+below(768px)
		width: 100%
	width: 48%
	.form-quest__title,.form-quest
		display: block !important

//.lk-bg
.lk-bg__left
	width: 50%
	height: 100%
	position: absolute
	top 0
	left 0
.lk-bg__right
	+below(1024px)
		display: none
	width: 50%
	height: 100%
	position: absolute
	top 0
	right 0
	background: $gray--light
.lk
	+below(1024px)
		fw()
	f()


.lk-user
	+below(1024px)
		width: 100%
		padding-right: 0
	width: 50%
	padding-right: 40px
.lk-title
	+below(768px)
		margin-bottom: 30px
		margin-top: 30px
	flex(between)
	margin-bottom: 70px
.lk-title__text
	+below(1200px)
		font-size: 40px
	color $brown
	@extend .type--extra
	font-weight 900
	up()
.lk-title__exit
	+below(768px)
		display: none
	@extend .btn--md
	min-width auto
	padding: 20px 30px
.user
	+below(640px)
		margin-bottom: 30px
	margin-bottom: 50px
.user-row
	+below(640px)
		fw()
		margin-bottom: 20px
	f()
	margin-bottom: 35px
	align-items: center
.user__name
	+below(640px)
		width: 100%
		margin-bottom: 10px
	width: 40%
.user__val
	@extend .type--lg
.lk-title-sub
	color $brown
	@extend .type--xxl
	margin-bottom: 30px
.user-card
	+below(480px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-gap 20px
	grid-template-columns repeat(2,1fr);
	margin-bottom: 50px
.user-card__el
	height: 160px
	border 1px solid $gray
	tr(all)
	&:hover
		border 1px solid #93908e
		.user-card__add-text
			color #93908e
		.user-card__add
			border 1px solid #93908e
			.icon
				fill #93908e
.user-card__el--active
	f()
	fl()
	tr(all)
	padding: 25px 20px
	background: $green
	position: relative
	border 0!important
	&:hover
		background: darken($green,5)
.user-card-remove
	flex(mid)
	br(2px)
	opacity .6
	size 22px
	border 1px solid white
	position: absolute
	right: 20px
	top 20px
	tr(all)
	&:hover
		opacity 1
		.icon
			opacity 1
	.icon
		tr(all)
		opacity .6
		size 8px
		fill white
.user-card-icon
	.icon
		fill white
		width 50px
		height: 15px
.user-card-numb
	@extend .type--lg
	color white
	margin-top: auto
	margin-bottom: 10px
.user-card__el--add
	flex(mid)
	fl()
	cp()
.user-card__add
	size 40px
	border 1px solid #e3ddd8
	flex(mid)
	br(4px)
	tr(all)
	margin-bottom: 5px
	.icon
		tr(all)
		size 18px
		fill #e3ddd8
.user-card__add-text
	color #e3ddd8
	tr(all)
.lk-adr
	+below(480px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-gap 20px
	grid-template-columns repeat(2,1fr);
	margin-bottom: 50px
.lk-adr__el
	height: 160px
	border 1px solid $gray
	cp()
	&:hover
		border 1px solid #93908e
		.lk-adr__add-text
			color #93908e
		.lk-adr__add
			border 1px solid #93908e
			.icon
				fill #93908e
.lk-adr__el--active
	padding: 25px 20px
	position: relative
	f()
	fl()
	border 1px solid $green
.lk-adr-remove
	flex(mid)
	br(2px)
	opacity .6
	size 22px
	border 1px solid #cbbaac
	position: absolute
	right: 20px
	top 20px
	&:hover
		border 1px solid $green
		opacity 1
		.icon
			opacity 1
			fill green
	.icon
		tr(all)
		opacity .6
		size 8px
		fill #cbbaac
.lk-adr-adress
	margin-top: auto
	margin-bottom: 10px
.lk-adr-text
	tr(all)
	@extend .type--lg
	color $green
//.lk-adr-edit
.lk-adr__el--add
	flex(mid)
	fl()
	cp()
.lk-adr__add
	size 40px
	border 1px solid #e3ddd8
	flex(mid)
	br(4px)
	tr(all)
	margin-bottom: 5px
	.icon
		tr(all)
		size 18px
		fill #e3ddd8
.lk-adr__add-text
	tr(all)
	color #e3ddd8
.lk-order
	+below(1024px)
		padding: 30px 10px
		background: $gray--light
		margin-left: -10px
		margin-right: -10px
		margin-bottom: -100px
		width calc(100% + 20px)
	+below(640px)
		margin-bottom: -30px
	width: 47%
	padding: 60px 0 30px 40px
.user__val-info
	f()

.user__val-edit
	margin-left: 20px
	cp()
	color $green
	font-weight: 400

.user__val-input
	f()
	.input-name
		margin-bottom: 0
.user__val--add
	font-weight: 400
	color $green
	cp()

.user__val-send
	+below(640px)
		font-size: 12px
	@extend .btn--md
	@extend .btn--mark
	padding: 10px 20px
	min-width auto
	height: 50px

.history-title
	+below(640px)
		text-align: center
	@extend .type--xxl
	margin-bottom: 35px

.history
	width: 100%
	+below(640px)
		max-width 340px
		margin-left: auto
		margin-right: auto
.history-card
	+below(1024px)
		.top
			display: none
	perspective 600px
.history-card__wrap
	+below(640px)
		fw()
	background: white
	padding: 20px
	f()
	align-items: center
	transform-style: preserve-3d;
	cp()
	//transition all .6s
	margin-bottom: 20px
	&:hover
		box-shadow 0 10px 15px rgba(0, 0, 0, 0.1)
.history-card__wrap--active
	transform rotateX(90deg)
	backface-visibility hidden
.history-card__info
	+below(640px)
		width: 100%
	margin-right: 5%
.history-card__date
	+below(640px)
		margin-bottom: 10px
.history-card__numb
	opacity .6
.history-card__price
	+below(640px)
		margin-left:initial
		width: 100%
		flex(between)
	margin-left: auto
	@extend .type--lg

.history-card__list
	+below(640px)
		width: 100%
		margin: 10px 0
	+below(480px)
		grid-template-columns repeat(auto-fit, minmax(35px, 35px));
	display: grid
	grid-gap 15px
	grid-template-columns repeat(4,1fr);
.history-card__list-el
	+below(480px)
		size 35px
	size 40px
	round()
	bg-full()
	border 1px solid #cbbaac
	position: relative
.history-card__list-el-val
	position: absolute
	right: -8px
	top -2px
	size 24px
	background: $green
	color white
	round()
	flex(mid)
	@extend .type--sm


.history-card__list-el--last
	border 1px solid darken($green,10)
	.history-card__list-el-val
		width: 100%
		height: 100%
		left 0
		top 0
		opacity .8
		font-size: 14px
//.history-card--open

.history-info
	box-shadow 0 10px 15px rgba(0, 0, 0, 0.1)
	background-color #ffffff
	padding: 20px
	margin-bottom: 20px
	display: none

//.history-card

.history-info__head
	+below(640px)
		margin-left: auto
		margin-right: auto
		max-width 320px
	f()
	margin-bottom: 20px
.history-info__head-date
	margin-right: 15px
.history-info__head-state
	color $green
.history-info__head-numb
	margin-left: auto
	opacity .6
.history-info__list
	+below(640px)
		margin-bottom: 20px
	margin-bottom: 25px
.history-info__el
	+below(640px)
		fw()
		max-width 320px
		margin-left: auto
		margin-right: auto
		padding-bottom: 10px
	f()
	align-items: center
	margin-bottom: 10px
	padding-bottom: 20px
	border-bottom 1px solid $gray--light
.history-info__el-img
	+below(480px)
		size 35px
	size 40px
	round()
	bg-full()
	border 1px solid #cbbaac
	position: relative
	margin-right: 20px
.history-info__el-about
	+below(640px)
		width: 70%
	width: 50%
.history-info__el-title
	margin-bottom: 5px
.history-info__el-text
	opacity .6
.history-info__el-count
	+below(640px)
		margin-left:initial
		margin-top: 10px
	size 40px
	border 1px solid $gray
	flex(mid)
	round()
	margin-left: auto
	margin-right: 10%
.history-info__el-price
	+below(640px)
		margin-top: 10px
	flex(mid)
	@extend .type--lg
.history-info-footer
	+below(640px)
		fw()
		justify-content: space-between
	f()
	align-items: center
.history-info-total
	+below(640px)
		width: 100%
		justify-content: space-between
	f()
	align-items: center
.history-info-total__text
	@extend .type--lg
	margin-right: 10px
.history-info-total__val
	color $green
	@extend .type--xl
.history-info-get
	+below(640px)
		margin-left:initial
		width: 100%
		margin-top: 20px
	@extend .btn--md
	margin-left: auto
	padding: 20px 30px

.histiry-empty
	+below(480px)
		width: 100%
	width: 320px
	line-height: 1.6
.lk-user__wrap,.lk-order__wrap
	+below(1024px)
		max-width 768px
		margin-left: auto
		margin-right: auto

.history-card__price_text
	+above(641px)
		display: none

.select-city
	margin-top: 30px
.select-city__el
	margin-bottom: 20px

.town-list
	margin-top: 30px
.town-list__el
	padding: 10px 0
	border-top 1px solid $gray--light
	border-bottom 1px solid $gray--light
	text-align: center
	color $green
	margin-top: -1px
	@extend .type--lg
	display: block

.card-cont
	fl()
	flex(mid)
	flex-grow 1

.input-row--add-mail
	margin-top: 30px

.irs-hidden-input
	opacity 0

.slide-menu__town-title
	@extend .type--lg
.slide-menu__town
	.select-city
		margin-top: 20px


//upload
.upload-wrap
	flex(mid)
	fw()
	margin-bottom: 20px
.upload
	f()
	cp()
	br(10px)
	align-items: flex-start
	justify-content: center
	border 1px solid $border-color
	box-shadow 0px 3px 14px white
	tr(all)
	margin-bottom: 10px
	&:hover
		bsh()
.upload__icon
	padding: 10px
	border-right 1px solid $border-color
	height: 50px
	flex(mid)
	.icon
		size 25px
		fill red
.upload__text
	height: 50px
	margin-left: -1px
	padding: 15px
	width: auto
	flex(mid)
.upload-img
	flex(mid)
.upload-img__el
	size 50px
	br(10px)
	border 1px solid $border-color
	margin-right: 10px
	margin-bottom: 10px
	background-size: cover
	background-repeat: no-repeat
	position: relative
	overflow: hidden
	cp()
	&:hover
		&:before
			content 'X'
			opacity:1

	&:before
		content 'X'
		position: absolute
		background: #000000b3
		width: 100%
		height: 100%
		left 0
		top 0
		flex(mid)
		color white
		opacity:0
		tr(all)
.upload-btn
	position: absolute
	left -9999px

