@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.head
	width:100%
	z-index 1010
	background: white

.head-top-wrap
//.main-cont
.head-top
	+below(1024px)
		position: relative
	flex(between)
.head__logo
	+below(1200px)
		width: 140px
	+below(480px)
		width: 100px
	width: 195px
	margin-right: 3%
.head__loc
	+below(1024px)
		display: none
	width: 23%

.head__loc-town
	f()
	color $brown--dark
	font-size 20px
	font-weight 500
.head__loc-town-el
	display: inline-block
	margin-left: 5px
	color $green
	margin-bottom: 10px
.head__loc-text
	+below(1200px)
		font-size: 12px
	color #37200d99

.head__cont
	+below(1024px)
		display: none
	width: 20%
.head__cont-phone
	color $brown--dark
	font-size 20px
	font-weight 500
	margin-bottom: 10px
	display: inline-block
.head__cont-text
	+below(1200px)
		font-size: 12px
	color #37200d99
.head__enter
	flex(mid)
	tr(all)
	color $brown--dark
	@extend .type--md
	font-weight 500
	margin-left: auto
	padding: 30px 25px
	border-left 1px solid $gray
	border-right 1px solid $gray
	cp()
	&:hover
		color white
		background: $green
		border-color $green
		.icon
			fill white
.head__enter-ico
	margin-right: 15px
	.icon
		tr(all)
		size 26px
		fill $green
//.icon
//.head__enter-text
.head__auth
	+below(1200px)
		padding: 30px 20px
	+below(1024px)
		display: none
	flex(mid)
	tr(all)
	color $brown--dark
	@extend .type--md
	font-weight 500
	margin-left: auto
	padding: 30px 25px
	border-left 1px solid $gray
	border-right 1px solid $gray
	cp()
	&:hover
		color white
		background: $green
		border-color $green
		.icon
			fill white
//.hidden
.head__auth-ico
	margin-right: 10px
	.icon
		tr(all)
		size 26px
		fill $green
.head__auth-text
	margin-right: 10px
.head__auth-val
	display: block
	opacity .6
.head__basket
	+below(1200px)
		padding: 30px 20px
	+below(1024px)
		size 50px
		padding: 0
		position: relative
		margin-right: -11px
	flex(mid)
	cp()
	padding: 30px 25px
	border-left 1px solid $gray
	border-right 1px solid $gray
	margin-left: -1px
	color $brown--dark
	tr(all)
	&:hover
		color white
		background: $green
		border-color $green
		.icon
			fill white
.head__basket__icon
	.icon
		+below(1024px)
			margin-right: 0
		margin-right: 15px
		size 26px
		fill $green
		tr(all)
.head__basket__text
	+below(1024px)
		display: none
	@extend .type--md
	font-weight 500
.head__basket__val
	opacity:.6

.head__basket__val--mobile
	position: absolute
	background: $green
	size 18px
	round()
	flex(mid)
	font-size: 12px
	color white
	border 1px solid white
	right: 5px
	top 5px
	+above(1025px)
		display: none

.head-menu-wrap
	+below(640px)
		white-space: nowrap
		overflow-x: auto
		-webkit-overflow-scrolling: touch
		-ms-overflow-style: -ms-autohiding-scrollbar
		::-webkit-scrollbar
			width: 0
			background: transparent
			display: none
		&:before
			content ''
			position: absolute
			right: 0
			top: 51px
			height: 48px
			width 110px
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, #ffffff 100%);
			z-index 10
	border-top 1px solid $gray
	border-bottom 1px solid $gray
.head-menu
	flex(between)
.head-list
	+below(1024px)
		width: 100%
	flex(between)
	width: 62%
.head-list__el
	+below(1024px)
		height: 50px
		flex(mid)
	tr(all)
	padding: 20px 10px
	color $brown--dark
	@extend .type--md
	font-weight 500
	&:hover
		color $green
//.head-list__el--active
.head-sub-list
	+below(1024px)
		display: none
	flex(between)
	width: 35%
	f()
.head-sub-list-el
	tr(all)
	padding: 20px 10px
	color $brown--dark
	@extend .type--md
	font-weight 500
	opacity: .6
	&:hover
		opacity: 1
		color $green

.page
	f()
	fl()
	min-height 100vh
.content
	flex-grow 1
	flex-shrink 1


@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.head-top__list
	display: none
	width: 55%
.head-top__list-el
	tr(all)
	color $brown--dark
	@extend .type--md
	font-weight 500
	&:hover
		color $green

.shrink
	.head-top__list
		flex(between)
		+below(1024px)
			flex(between)
			position: absolute
			top 51px
			width: calc(100% + 20px)
			margin-left: -10px
			padding: 15px 10px
			background: white
			height: 50px
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
		+below(640px)
			@extend .head-menu-wrap
			width auto
		display: none
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out
	border-bottom 1px solid $gray
	z-index 1010
	.head-menu-wrap
		//display: none
	.head__auth
		display: none
	.head__loc
		display: none
	.head__cont
		display: none
	.head__basket
		padding: 10px 20px
	.head__logo
		width: 140px
	.head-top__list-el
		padding: 10px
.footer
	+below(480px)
		margin-top: 30px
	margin-top: 100px
.footer-top-wrap
	background: #f1e2d6
.footer-top
	+below(1024px)
		display: none
	flex(between)
//.footer-top__col
.footer-top__title
	color $brown--dark
	@extend .type--xl
	margin-bottom: 10px
.footer-top__text
	opacity .7
.footer-deliver
	+below(1024px)
		margin-right: -10px
	flex(mid)
	padding: 40px 45px
	bg-full()
	tr(all)
	background-size 100% 100%
	&:hover
		background-size:120% 120%
.footer-deliver__text
	@extend .type--xl
	color white
	up()
	margin-right: 20px
.footer-deliver__ico
	.icon
		size 50px
		fill white
.footer-main-wrap
	background: #5e4c41
.footer-main
	+below(640px)
		padding: 30px 0
		fw()
	f()
	justify-content: space-between
	padding: 50px 0
	color white
.footer-info
	+below(640px)
		width: 48%
	+below(480px)
		width: 100%
	width: 26%
.footer-title
	+below(480px)
		text-align: center
	font-size 20px
	font-weight 500
	margin-bottom: 20px
.footer-politick
	+below(480px)
		text-align: center
		margin-bottom: 20px
	opacity .6
	line-height: 1.6
	margin-bottom: 55px
	display: block
	color white
	tr(all)
.footer-pay
	+below(480px)
		flex(mid)
		margin-bottom: 20px
	f()
	align-items: center
.footer-pay__icon
	.icon
		size 28px
		fill white
		margin-right: 15px
//.footer-pay__text
.footer-list
	+below(1024px)
		display: none
	width: 21%
.footer-list__el
	tr(all)
	margin-bottom: 20px
	opacity:.6
	display: block
	color white
	&:hover
		opacity:1

.footer-cont
	+below(640px)
		border-left 0
		width: 48%
	+below(480px)
		width: 100%
		flex(mid)
		fl()
	width: 30.5%
	margin-left: auto
	border-left 1px solid rgba(255, 255, 255, 0.16)
	f()
	fl()
	align-items: flex-end
.footer-phone
	+below(480px)
		width: 100%
		text-align: center
	font-size: 20px
	color white
	margin-bottom: 15px
	display: inline-block
	width: 210px
	text-align: left
	tr(all)
	&:hover
		color darken(white,20)
.footer-mail
	+below(480px)
		width: 100%
		text-align: center
	display: block
	color white
	margin-bottom: 55px
	width: 210px
	text-align: left
	tr(all)
	&:hover
		color darken(white,20)
.soc-row
	f()
.soc-el
	.icon
		size 32px
		margin-right: 10px
		fill white
		tr(all)
		&:hover
			fill darken(white,30)

//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #ad9480e6
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translate(-50%,-350%)
	position: absolute
	top 50%
	left 50%
	opacity .1
	transition transform .8s, opacity 1s
	max-width 550px

.modal-content
	+below(768px)
		padding: 20px
	+below(640px)
		max-height calc(100vh - 60px)
		overflow-y scroll
		padding: 20px 5px
		width: 100%!important
	//background: #2b8850
	background: white
	position: relative
	padding: 40px
	min-width 390px
	+below(768px)
		width: 80%

.modal-content--register
	width: 500px
	input
		width: 100%
		margin-bottom: 20px

.modal__show
	+below(768px)
		flex(mid)
	opacity 1
	transform translate(-50%,-50%)

.modal-close
	+below(768px)
		top 15px
		right 15px
	position: absolute
	top: 20px
	right: 20px
	cp()
	.icon
		+below(768px)
			size 15px
		size 20px
		fill #cbbaac
		tr(all)
		&:hover
			fill $brown

.modal-open
	overflow: hidden
	overflow-x: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: relative
	height: 100%

.modal-title
	+below(768px)
		font-size: 20px
	@extend .type--xxl
	color $brown
	margin-bottom: 0px
	text-align: center

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 40px auto
	//width: 80%
	font-size: 16px
	line-height: 1.6
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px

.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%
	font-weight: 600

.agree-row
	f()
	align-items: center
	margin:10px 0 20px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none
.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d

.modal-content--true
	flex(mid)
	fl()
	br(10px)
	.icon
		fill green
		size 120px
		margin-bottom: 20px
.modal-text-true
	text-align: center
	font-weight: bold
//modal===end

.modal-soc-enter-text
	margin-top: 40px
	margin-bottom: 20px
	opacity .6
	text-align: center

.soc-row--midle
	flex(mid)

.input-phone
	position: relative
	input
		padding-left: 40px
	&:before
		content '+7'
		position: absolute
		left 20px
		top 21px
.row--mid
	flex(mid)
.modal-code-link
	text-align: center
	@extend .link--mark
	margin: 20px auto 40px auto
	position: relative
	display: block
	tr(all)
	&:hover
		&:before
			content ''
			opacity 0
	&:before
		content ''
		position: absolute
		top calc(100% + 4px)
		height: 1px
		background: #3dad4b
		width: 100%
		opacity: 1
		tr(all)

.slider
	+below(1024px)
		display: none
.slider__el
	width: 100%
	bg-full()
	height: 450px

.advant
	+below(1024px)
		display: none
	flex(between)
	padding: 30px 45px
	border-bottom 1px solid $gray
	margin-bottom: 35px
.advant__el
	f()
	align-items: center
.advant__el-icon
	margin-right: 25px
	.icon
		size 50px
	.icon-one
		size 80px
//.advant__el-text

.section
	+below(1024px)
		margin: 50px 0
	+below(480px)
		max-width 360px
		margin-left: auto
		margin-right: auto
	margin-bottom: 80px
.section-title
	+below(1024px)
		margin-bottom: 30px
	@extend .type--extra
	color $brown
	up()
	margin-bottom: 45px

.grid
	+below(1024px)
		grid-template-columns repeat(3,1fr);
	+below(768px)
		grid-template-columns repeat(2,1fr);
	+below(480px)
		grid-template-columns 1fr
		grid-column-gap 10px
		grid-row-gap 30px
	display: grid
	grid-gap 30px
	grid-template-columns repeat(4,1fr);

.grid--three
	+below(768px)
		grid-template-columns repeat(2,1fr);
	+below(480px)
		grid-template-columns 1fr;
	grid-template-columns repeat(3,1fr);
.grid--six
	+below(1024px)
		grid-template-columns repeat(auto-fit, minmax(120px, 1fr));
	+below(480px)
		grid-template-columns repeat(2,1fr);
	grid-template-columns repeat(6,1fr);

.grid__el
	align-content stretch

.pizza
	+below(480px)
		flex-flow row
		justify-content:space-between
	f()
	fl()
	height: 100%
.pizza__img-wrap
	+below(480px)
		width: 28%
		margin-right: 10px
.pizza__img
	bg-full()
	background-size: contain
	padding: 55% 10%
	margin-bottom: 15px
.pizza__title
	@extend .type--xl
	color $brown--dark
	margin-bottom: 15px
.pizza__text
	line-height: 1.6
	opacity 0.7
	color $brown--dark
	margin-bottom: 25px
.pizza__size
	f()
	border 1px solid #cbbaac
	margin-bottom: 10px
	margin-top:auto

.pizza__size-el
	width: 100%
	text-align: center
	padding: 10px
	border-right 1px solid #cbbaac
	margin-right: -1px
	cp()
	tr(all)
	&:hover
		background-color $gray--light

.pizza__size-el--active
	background: $gray

.pizza__dough
	f()
	border 1px solid #cbbaac
	margin-bottom: 20px
.pizza__dough-el
	width: 100%
	text-align: center
	padding: 10px
	border-left 1px solid #cbbaac
	margin-left: -1px
	cp()
	tr(all)
	&:hover
		background-color $gray
.pizza__dough-el--active
	background-color $gray

.pizza__footer
	f()
	flex(between)
	+below(480px)
		.elements-icr-block
			flex(mid)
.pizza__price
	+below(480px)
		display: none
	@extend .type--xl
	color $brown--dark
.pizza__get
	+below(480px)
		width: 100%
	@extend .btn--sm
	width: 50%
	padding: 10px
	@extend .btn--light
	@extend .type--md
	font-weight 500
	height: 40px
.grid__el--lg
	+below(480px)
		grid-column span 1
		display: none
	grid-column span 2
	align-content stretch

.incr__get-wrap
	+below(480px)
		width: 100%
.pizza-lg
	f()
	fl()
	height: 100%
	.pizza__dough
		margin-bottom: 0
	.pizza__size-el--active
		background: #cbbaac
	.pizza__size-el
		&:hover
			background: #cbbaac
	.pizza__dough-el
		&:hover
			background: #cbbaac
	.pizza__dough-el--active
		background: #cbbaac
.pizza-lg__img
	bg-full()
	padding: 30% 10%
.pizza-lg-cont
	+below(480px)
		padding: 40px 20px
	position: relative
	background: #f1e2d6
	padding: 40px 30px
	f()
	fl()
	flex-grow 1
.pizza-lg__timer
	position: absolute
	background: $green
	color white
	top -24px
	left 0
	height: 48px
.pizza-lg__title
	@extend .type--xxl
	f()
	align-items: flex-start
	margin-bottom: 20px
	a
		color $brown

.pizza-lg__timer-val
	padding: 15px 45px 15px 30px
	position: relative
	width: 100%
	&:before
		content ''
		position: absolute
		right -12px
		top 0
		width: 12px
		height: 100%
		//bgi('round-border.png')
.pizza-lg__title-icon
	margin-left: 10px
	.icon
		size 20px
		fill $brown
.pizza-lg__info
	margin-top: auto
	justify-content: space-between
	f()
.pizza-lg__toggle
	width: 60%
//.pizza__size
//.pizza__size-el
//.pizza__size-el--active
//.pizza__dough
//.pizza__dough-el
//.pizza__dough-el--active
//.pizza-lg__val
.pizza-lg__price
	f()
	margin-bottom: 20px
	align-items: center
.pizza-lg__price-false
	color $brown
	margin-right: 10px
	text-decoration: line-through
.pizza-lg__price-true
	color $brown
	@extend .type--xl
.pizza-lg__get
	@extend .btn--sm
	@extend .btn--mark

.pizza__wrap
	+below(480px)
		width: 70%
	f()
	fl()
	flex-grow 1


.item
	+below(480px)
		flex-flow row
	f()
	fl()
	height: 100%
.item__img-wrap
	+below(480px)
		width: 28%
		margin-right: 10px
.item__img
	bg-full()
	padding: 45% 10%
	margin-bottom: 15px
.item__title
	@extend .type--xl
	color $brown--dark
	margin-bottom: 15px
.item__text
	+below(480px)
		margin-bottom: 15px
	line-height: 1.6
	opacity 0.7
	color $brown--dark
	margin-bottom: 25px
.item__wrap
	+below(480px)
		width: 75%
	flex-grow 1
	f()
	fl()
.item__footer
	f()
	flex(between)
	margin-top: auto
.item__price
	+below(480px)
		width: 100%
		display: none
	@extend .type--xl
	color $brown--dark
.item__get
	+below(480px)
		width: 100%
	@extend .btn--sm
	padding: 10px
	@extend .btn--light
	@extend .type--md
	font-weight 500
	height: 40px
	flex(mid)

//
.item-lg
	f()
	fl()
	height: 100%
.item-lg__img
	bg-full()
	padding: 25% 10%
.item-lg-cont
	f()
	justify-content: space-between
	position: relative
	background: #f1e2d6
	padding: 40px 30px
	flex-grow 1

.item-lg__timer
	position: absolute
	background: $green
	color white
	top -24px
	left 0
	height: 48px
.item-lg__title
	@extend .type--xxl
	f()
	align-items: center
	margin-bottom: 10px
	a
		color $brown
.item-lg__timer-val
	padding: 15px 45px 15px 30px
	position: relative
	width: 100%
	&:before
		content ''
		position: absolute
		right -12px
		top 0
		width: 12px
		height: 100%
		//bgi('round-border.png')
.item-lg__title-icon
	margin-left: 10px
	.icon
		size 20px
		fill $brown
.item-lg__info
	margin-top: auto
	justify-content: space-between
	f()
	width: 30%
.item-lg__toggle
	width: 60%
.item-lg__val
	margin-top: 10px
.item-lg__price
	f()
	margin-bottom: 20px
	align-items: center
.item-lg__price-false
	color $brown
	margin-right: 10px
	text-decoration: line-through
.item-lg__price-true
	color $brown
	@extend .type--xl
.item-lg__get
	@extend .btn--sm
	@extend .btn--mark

.item-lg-wrap
	width: 70%

.item-lg__text
	line-height: 1.6

.incr

	f()
	justify-content: space-between
	position relative
	width 120px
.incr__nav
	flex(mid)
	tr(background )
	size 40px
	border 1px solid $green
	color $green
	font-family Roboto
	@extend .type--lg
	&:hover
		cp()
		background-color $green
		border 0
		color white
	&:active
		background-color red
.incr__val
	flex(mid)
	position relative
	tr(all)
	font-family Roboto
	@extend .type--lg
	font-weight 700
	size 40px
//

.tooltip
	display:inline-block;
	position:relative;
	text-align:left;
	cp()


.tooltip .top
	min-width:240px
	top:0px
	left:50%
	transform:translate(-50%, -100%)
	padding:10px 20px
	background-color:#EEEEEE
	position:absolute
	z-index:99999999
	box-sizing:border-box
	box-shadow 0 10px 15px rgba(0, 0, 0, 0.09)
	visibility:hidden
	opacity:0
	transition:opacity 0.8s
	color $brown--dark
	@extend .type--main
	font-weight 400
	font-family:Roboto
	line-height: 1.6
.tooltip:hover .top
	visibility:visible
	opacity:1

.tooltip .top i
	position:absolute
	top:100%
	left:50%
	margin-left:-12px
	width:24px
	height:12px
	overflow:hidden

.tooltip .top i::after
	content:''
	position:absolute
	width:12px
	height:12px
	left:50%
	transform:translate(-50%,-50%) rotate(45deg)
	background-color:#EEEEEE
	box-shadow:0 10px 15px rgba(0, 0, 0, 0.09)

.icr-btn
	height: 40px

.review-slider-wrap
	padding: 50px 0
	background: #f2e5da
	margin-bottom: 80px
.review-slider__title
	flex(mid)
	margin-bottom: 30px
	span
		color $brown
		@extend .type--xxl
		position: relative
		text-align: center
		.icon
			position: absolute
			right: -35px
			top -15px
			size 32px
			fill green
//.review-slider
//.review-slider__el
.review-slider__content
	max-width 600px
	margin-left: auto
	margin-right: auto
	flex(mid)
	fl()
.review-slider__el-text
	text-align: center
	@extend .type--main
	font-style italic
	line-height: 1.6
	margin-bottom: 20px
.review-slider__el-author
	color $brown--dark
	opacity .7
	text-align: center
	margin-bottom: 20px

.slick-dots li button:before
	font-size: 10px

.card
	flex(mid)
	fl()
.card__img-wrap
	width: 100%
	margin-bottom: 25px
.card__img
	bg-full()
	background-size: contain
	padding: 55% 10%
	width: 100%
.card__text
	text-align: center
	line-height: 1.6
.card__val
	color $brown--dark
	@extend .type--xl
	margin: 20px 0
.card__get
	+below(480px)
		width: 100%
	@extend .btn--sm
	padding: 10px
	@extend .btn--light
	@extend .type--md
	font-weight 500
	height: 40px

.form-quest
	+below(640px)
		display: none
	max-width 600px
	margin-left: auto
	margin-right: auto
	textarea
		width: 100%
.form-quest__title
	+below(640px)
		display: none
	color $brown
	@extend .type--xxl
	margin-bottom: 40px
	text-align: center
.input-row-half
	f()
	justify-content: space-between
	input
		width: 49%
//.input
.form-quest__footer
	margin-top: 20px
	flex(between)
.form-quest__text
	width: 50%
	line-height: 1.6
	opacity 0.7
	color #000000
	@extend .type--sm
.form-quest__get
	@extend .btn--sm
	@extend .btn--mark

.head-toggle
	margin-left: auto
	size 50px
	flex(mid)
	cp()
	+above(1025px)
		display: none
	.icon
		size 25px
		fill $brown
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(480px)
		width: 100%
	background: $green
	color white
	position: fixed
	height: calc(100% - 100px)
	z-index 1100
	top 102px
	right 0
	padding: 25px
	width: 320px
	transform translateX(100%)
	tr(all)
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list
	margin-bottom: 40px
.slide-menu__list-el
	@extend .type--lg
	text-align: center
	display: block
	margin-bottom: 20px
	color white
.slide-menu-btn
	flex(mid)
	@extend .type--lg
	color white
	width: 100%
	padding: 15px
	border 1px solid white
	height: 55px
	margin-bottom: 20px
	tr(all)
	&:hover
		opacity .6
		color white
.slide-menu-btn__icon
	margin-right: 15px
	.icon
		size 26px
		fill white
//.slide-menu-btn__text
.slide-menu__phone
	@extend .type--xl
	text-align: center
	display: block
	color white
	margin-bottom: 20px
.slide-menu__time
	opacity 0.6
	margin-bottom: 20px
	text-align: center
.slide-menu__work
	opacity 0.6
	text-align: center

.desctop-get
	+below(480px)
		display: none
.mobile-price
	+above(481px)
		display: none
