include block_html/_style.pug
include block_html/_include.pug

.main-cont
	h1 Hallow world
	h2 Hallow world
	h3 Hallow world
	h4 Hallow world

	a(href="#").link--main Ссылка
include ./block_html/_script.pug
