include block_html/_style.pug
include block_html/_include.pug

+header()
.content
	.main-cont
		.bread
			-
				var items = ['Главная', 'Пиццы', 'Гавайская с курицей'];
			each item in items
				a(href="#").bread__el #{item}
	.main-cont--xs
		.section-title.section-title--mid Отправить чек
		form.validate-form( action="javascript:void(null);")
			.input-row
				input(type="text" name="name" placeholder="Вашe имя").input
			.input-row
				input(type="text" name="name" placeholder="Ваш телефон").input
			.input-row
				input(type="text" name="name" placeholder="Ваша почта").input
			.input-row
				textarea(name="text", cols="10", rows="6" class="input" placeholder="Комментарий")
			.upload-wrap
				.upload-img.upload-img--doc
				label.upload
					.upload__icon
						+icon("receipt","icon")
					.upload__text Добавить фото чека
					input(type="file").upload-btn
			.check-el.check-el--agree
				label.style-label.style-label--checkbox
					input(type="checkbox" name="agree").sytle-input
					.sytle-input-element
						+icon("check","icon icon-check")
					.sytle-input-text Согласен с условиями <br> обработки персональных данных
			input(type="submit" value="Отправить").modal-send

+footer()
include ./block_html/_script.pug
