// ============================ Curent color ============================
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

$brown--dark = #37200d
$brown = #5b3f27
$brown--light = #cbbaac
$gray = #e3ddd8
$gray--light = #f2efed
$green = #3dad4b

$main-text-color = #442b15
$link-color = $brown--dark
$link-color-visited = darken($brown--dark,20)
$link-color-hover = #67d875
$border-color = #dddddd

//  ============================ Typography ============================

//webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

//webfont('PT Sans', 'PT Sans', 'normal')
$v-font =  'Roboto', sans-serif

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(12,10)

.type--main
	typeSize(15,12)

.type--md
	typeSize(16,14)

.type--lg
	typeSize(18,16)
	font-weight:700

.type--xl
	typeSize(24,20)
	font-family:'PF Bague Sans Pro'
	font-weight:700

.type--xxl
	typeSize(36,24)
	font-family:'PF Bague Sans Pro'
	font-weight:700

.type--extra
	typeSize(50,28)
	font-family:'PF Bague Sans Pro'
	font-weight:900
	letter-spacing 2.5px

.type--bold
	font-weight bold

h1
	@extend .type--extra
h2
	@extend .type--xxl
h3
	@extend .type--xl
h4
	@extend .type--lg
h5
	@extend .type--md

a
	color $link-color
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

p
	@extend .type--main

.link--mark
	color $green
	&:hover
		color #67d875
	&:visiter
		color darken(#67d875,10)

.link--main
	color $brown--dark
	opacity 0.6
	tr(all)
	hover-underline(1px,'solid',$brown--dark)
	&:hover
		color darken($brown--dark,20)
		opacity 1
	&:visiter
		color darken($brown--dark,30)
		opacity 1

.link--text
	color $link-color
	text-decoration underline
	&:hover
		text-decoration none

// ============================ Buttons ============================

btnStyle(bg-btn,color-btn)
	background bg-btn
	color color-btn
	border 1px solid color-btn
	&:hover
		background darken(bg-btn,20)
		color color-btn

btnStyleLight(br-btn,color-btn)
	color color-btn
	border br-btn solid color-btn
	&:hover
		color darken(color-btn,20)
		border br-btn solid darken(color-btn,20)

.btn
	up()
	br(0px)
	tr(all)
	@extend .type--md
	display inline-block
	background none
	color $brown--dark
	text-align: center
	border 1px solid #cbbaac
	position: relative
	font-weight 500
	&:hover
		cursor pointer
		color $green
		border 1px solid $green

.btn--sm
	@extend .btn
	+below(480px)
		min-width auto

	padding 10px 30px
	min-width 140px
	.nav-icon
		size 10px

.btn--md
	+below(480px)
		min-width auto
	@extend .btn
	padding 20px 55px
	min-width 210px

.btn--lg
	@extend .btn
	font-size 20px
	padding 10px 30px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--mark
	@extend .btn
	color white
	background $green
	border 1px solid $green
	.nav-icon
		fill white
	&:hover
		background-color lighten($green,10)
		color white
	&:active
		background-color lighten($green,10)
		color white
	input[type="submit"]
		border 0
	.nav-icon
		fill white

.btn--disable
	@extend .disabled

.btn--light
	@extend .btn
	border 1px solid $green
	background-color #ffffff
	color $green
	&:hover
		color white
		background $green
	.nav-icon
		fill blue

.btn--grey
	@extend .btn
	border 1px solid #dddddd
	background-color #ffffff

.btn--dotted
	@extend .btn
	border 1px dashed #d7d7d7
	background-color #ffffff
	text-align center

.btn--white
	@extend .btn
	border 1px solid rgba(255, 255, 255, 0.9)
	color rgba(255, 255, 255, 0.9)
	.nav-icon
		fill rgba(255, 255, 255, 0.9)

.btn--icon
	flex(mid)

.nav-icon
	display inline-block
	size 20px
	margin 0 10px

.btn--hover
	transform: perspective(100px) translateZ(0)
	box-shadow: 0 0 1px transparent
	position: relative
	overflow: hidden
	transition-property: color
	transition-duration: 0.1s
	&:before
		content: ""
		position: absolute
		z-index: -1
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: gray
		border-radius: 10%
		transform: scale(0)
		transition-property: transform
		transition-duration: 0.35s
		transition-timing-function: ease-out
	&:hover,&:focus,&:active
		color: white

.btn--hover:hover:before
	transform: scale(2)
.btn--hover:focus:before
	transform: scale(2)
.btn--hover:active:before
	transform: scale(2)

button
	font-family $v-font

// ============================ Inputs ============================

.input,.textarea,.select
	border 0px
	padding 15px 20px
	border 1px solid $gray--light
	resize: none
	outline: 0 !important
	font-family $v-font
	display block!important
	margin-bottom 10px
	placeholder($brown--dark)
	background: $gray--light
	@extend .type--main
	tr(all)
	&:focus
		background: none

.style-label
	display flex
	position relative
	align-items center

.style-label--disable
	@extend .disabled

.check-el
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 32px
		height 32px
		position relative
		display inline-block
		margin-right 10px
		background #f5f5f5
		border 1px solid #f5f5f5
		cp()
		tr(all)
		&:hover
			border 1px solid $green
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			.icon-check
				display block
				fill $green
				size 16px

.style-label--radio
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 24px
		height 24px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid #cfcfcf
		round()
		cp()
	.icon-check
		display none
	.sytle-input
		&:hover ~ .sytle-input-element
			flex(mid)
			color white
			border 1px solid $green
			.icon-radio
				round()
				size 8px
				background $green;
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			.icon-radio
				round()
				size 16px
				background $green;


