@font-face
	font-family: "PF Bague Sans Pro"
	src: url('../fonts/PFBagueSansPro-Black.woff2') format('woff2'),url('../fonts/PFBagueSansPro-Black.woff') format('woff')
	font-weight: 900
	font-style: normal

@font-face
	font-family: "PF Bague Sans Pro"
	src: url('../fonts/PFBagueSansPro-Bold.woff2') format('woff2'),url('../fonts/PFBagueSansPro-Bold.woff') format('woff')
	font-weight: 700
	font-style: bold

@font-face
	font-family: "Roboto"
	src: url('../fonts/Roboto-bold.woff2') format('woff2'),url('../fonts/Roboto-bold.woff') format('woff')
	font-weight: 700
	font-style: bold

@font-face
	font-family: "Roboto"
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'),url('../fonts/Roboto-Medium.woff') format('woff')
	font-weight: 500
	font-style: normal

@font-face
	font-family: "Roboto"
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),url('../fonts/Roboto-Regular.woff') format('woff')
	font-weight: 400
	font-style: normal

