-
	pages = [
		{
			'name':'Элементы',
			'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		},
		{
			'name':'Корзина--пустая',
			'href':'basket-empty'
		},
		{
			'name':'Корзина--полная',
			'href':'basket'
		}
	]

