-
	pages = [
		{
			'name':'Элементы',
			'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		},
		{
			'name':'Корзина--пустая',
			'href':'basket-empty'
		},
		{
			'name':'Корзина--полная',
			'href':'basket'
		},
		{
			'name':'Доставка и оплата',
			'href':'deliver'
		},
		{
			'name':'Корзина--успех',
			'href':'basket-true'
		},
		{
			'name':'Корзина--готово',
			'href':'basket-ready'
		},
		{
			'name':'Акции',
			'href':'sale'
		},
		{
			'name':'Карта доставки',
			'href':'map'
		},
		{
			'name':'Отзывы',
			'href':'review'
		},
		{
			'name':'Контакты',
			'href':'contact'
		},
		{
		'name':'Личный кабинет',
		'href':'lk'
		},
		{
			'name': 'Отправка чека',
			'href': 'request'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

